<th:block th:include="header.html"></th:block>


<h1 th:text="'Prescriptions for ' + ${patient.getFirstname()} + ' ' + ${patient.getLastname()}"></h1>
<a th:href="@{/prescriptions/create/} + ${patient.getID()}" class="btn btn-primary right">Create prescription</a><br/>


<table class = "pdata">
    <thead>
    <tr>
        <th class="pdata">Start Date</th>
        <th class="pdata pdata-lp">End Date</th>
        <th class="pdata pdata-lp">Medicine</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="prescription : ${prescriptions}">
        <td class="pdata"><a th:href="@{/prescriptions/info/} + ${prescription.getID()}" th:text="${prescription.getStartDate()}"></a></td>
        <td class="pdata pdata-lp"><a th:href="@{/prescriptions/info/} + ${prescription.getID()}" th:text="${prescription.getEndDate()}"></a></td>
        <td class="pdata pdata-lp"><a th:href="@{/prescriptions/info/} + ${prescription.getID()}" th:text="${prescription.getMedicine().getName()}"></td>
    </tr>
    </tbody>
</table>

<th:block th:include="footer.html"></th:block>