<th:block th:include="header.html"></th:block>

<div class="box sectionheader">
    <h1>Create Patient</h1><br/>
</div>


<div class="form-group">
    <form method="post" action="/patients/create" modelAttribute="Patient">
        <p>CPR: <input type="text" name="Birthday" path="Birthday" class="form-control"> -
            <input type="text" name="CPR" path="CPR" class="form-control" placeholder="Last 4"></p>
        <p>Firstname: <input type="text" name="Firstname" class="form-control"></p>
        <p>Lastname: <input type="text" name="Lastname" class="form-control"></p>
        <p>Phonenumber: <input type="text" name="Phonenumber" class="form-control"></p>
        <p>Address: <input type="text" name="Address" class="form-control"></p>
        <p>Weight: <input type="text" name="Weight" class="form-control"></p>
        <p>Height: <input type="text" name="Height" class="form-control"></p>
        <p>Description: <textarea class="form-control" name="Description"></textarea></p>

        <input type="submit" value="Create Patient" class="btn btn-info form-control">
    </form>
</div>


<th:block th:include="footer.html"></th:block>