<th:block th:include="header.html"></th:block>


<form class="navbar-form fw400_center" method="post" action="/patients/findPatient">
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Find patient" name="patientdata">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        </div>
    </div>
</form>

<th:block th:if="${patients?.size() == 0}">
    Ingen patienter blev fundet via din søgning..
</th:block>
<th:block th:each="patient : ${patients}">
    <div th:text="${patient.Firstname}"></div>
    <div th:text="${patient.Lastname}"></div>
</th:block>
<th:block th:include="footer.html"></th:block>