<th:block th:include="header.html"></th:block>


<h1 class="block">Create Treatment</h1><br/>

<div class="form-group">
    <form method="post" action="/treatments/create">
        <p>Name: <input type="text" name="name" class="form-control"></p>
        <p>
            <textarea name="note" class="form-control"></textarea>
        </p>
        <p>Medicine:
            <select size="10" class="form-control" name="medicine_ids" multiple>
                <th:block th:each="medicine : ${medicines}">
                    <option th:value="${medicine.getID()}" th:text="${medicine.getName()}"></option>
                </th:block>
            </select>
        </p>
        <p>* Use CTRL to select multiple values</p>
        <input type="submit" value="Create treatment" class="btn btn-info form-control">
    </form>
</div>


<th:block th:include="footer.html"></th:block>