<th:block th:include="header.html"></th:block>


<h1 class="block">Treatments</h1><a href="/treatments/create" class="btn btn-primary right">Create Treatment</a><br/>


<span class="numfield">ID</span><span class="textfield300">Name</span>
<th:block th:each="treatment : ${treatments}">
    <div class="block">
        <span class="numfield"><a th:href="@{/treatments/info/} + ${treatment.getID()}" th:text="${treatment.getID()}"></a></span>
        <span class="textfield300"><a th:href="@{/treatments/info/} + ${treatment.getID()}" th:text="${treatment.getName()}"></a></span>
        <span class="pencilfield"><a th:href="@{/treatments/edit/} + ${treatment.getID()}" class="glyphicon glyphicon-pencil"></a></span>
        <span class="removefield"><a th:href="@{/treatments/delete/} + ${treatment.getID()}" class="glyphicon glyphicon-remove"></a></span>
    </div>
</th:block>


<th:block th:include="footer.html"></th:block>