<th:block th:include="header.html"></th:block>

<h1>Edit User</h1><br/>


<p>To make any changes, please provide the old password</p>
<div class="form-group">
    <form method="post" action="/users/edit" class="fw500">
        <input type="hidden" name="userID" th:value="${user.getID()}">
        <div class="block">
            <span class="textfield">Username:</span>
            <input type="text" name="newUsername" th:value="${user.getUsername()}" class="form-control">
        </div>
        <div class="block">
            <span class="textfield">Old password:</span>
            <input type="password" name="oldPassword" class="form-control">
        </div>
        <div class="block">
            <span class="textfield">New password:</span>
            <input type="password" name="newPassword" class="form-control">
        </div>
        <div class="block">
            <span class="textfield">Bruger type:</span>
            <select size="1" name="userType" class="form-control">
                <th:block th:switch="${user.getUserType().name()}">
                    <th:block th:case="'SECRETARY'">
                        <option value="1" SELECTED>Sekretær</option>
                        <option value="2">Doktor</option>
                    </th:block>
                    <th:block th:case="'DOCTOR'">
                        <option value="1">Sekretær</option>
                        <option value="2" SELECTED>Doktor</option>
                    </th:block>
                </th:block>

            </select>
        </div>
        <input type="submit" value="Edit" class="btn btn-info form-control">
    </form>
</div>


<th:block th:include="footer.html"></th:block>