#container{
    width: 1024px;
    margin: 0 auto;
    display: block;
    border: 1px solid black;
    margin-top: 5px;
    height: auto;
}

#contentarea{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

header.top{
    height: 200px;
    border-bottom: 1px solid black;
}

header.top > img{
    height: 100%;
    width: 100%;
}

nav.topmenu{
    height: 25px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
}

div.box{
    display: block;
    width: 100%;
}

#loginbox{
    margin: auto auto;
    height: 200px;
    width: 350px;
}

div.searchglyph{
    width: 25px;
}

form.fw400{
    width: 400px;
}

form.fw400_center {
    width: 400px;
    margin: 0 auto;
}

form.search {

    width: 100%;
    margin: 0px;
    padding-left: 0px;
    padding-top: 40px;
}

form.fw500, form.fw400_center, form.search > input, input[type=text],input[type=password], input[type=submit], textarea {
    width: 100%;
}

form.fw500, form.fw400_center, form.search > input[type=checkbox],input[type=radiobutton] {
    width: auto !important;
}

span.numfield{
    width: 70px;
    display: inline-block;
}

span.textfield{
    width: 100px;
    display: inline-block;
}

span.textfield200{
    width: 200px;
    display: inline-block;
}

span.textfield300{
    width: 300px;
    display: inline-block;
}

span.pencilfield{
    width: 25px;
    display: inline-block;
}

span.removefield{
    width: 25px;
    display: inline-block;
}

a.right{
    display: inline-block;
    float: right;
    margin-top: 20px;
}

div.right{
    float: right;
}

h1{
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

h2{
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

h3{
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

div.padded5{
    padding: 5px;
}