<th:block th:switch="${userType.name()}">
<!--
    <nav th:case="'NOTLOGGEDIN'">
    NotLoggedIn
    <a href=""></a>
</nav>
-->
<nav th:case="'SECRETARY'" class="topmenu">
    <a href="/">Start</a> | <a href="/help">Help</a> | <a href="/logout">Logout</a>
</nav>
<nav th:case="'DOCTOR'" class="topmenu">

    <a href="/">Start</a> | <a href="/patients/">Manage Patients</a> | <a href="/illnesses/">Manage Illnesses</a> | <a href="/treatments/">Manage Treatments</a> |  <a href="/medicines/">Manage Medicines</a> | <a href="/users/">Manage Users</a> | <a href="/help">Help</a> | <a href="/logout">Logout</a>

</nav>
</th:block>