<th:block th:include="header.html"></th:block>

<div id="loginbox">
    <form method="post" action="/" class="fw500">
        <h1>Please login</h1>
        <div class="box">Username:</div>
        <div class="box"><input type="text" name="username"></div>
        <div class="box">Password</div>
        <div class="box"><input type="password" name="password"></div>
        <div class="box"><input type="submit" value="Login"></div>
    </form>
</div>

<th:block th:include="footer.html"></th:block>