<th:block th:include="header.html"></th:block>

<h1>Delete Diagnose</h1><br/>

<p>You are about to delete the Diagnose that happened on date: </p>
<p th:text="${diagnose.getDate()}"></p>
<p>That contains the following information</p>

<label>Illness:</label>
<p th:text="${diagnose.getIllness().getName()}"></p>
<label>Note:</label>
<p th:text="${diagnose.getNote()}"></p>

<p><br/>Please confirm.</p>
<div class="form-group">
    <form method="post" action="/diagnoses/delete">
        <input type="hidden" name="diagnose_id" th:value="${diagnose.getID()}">
        <input type="hidden" name="patient_id" th:value="${patient.getID()}">
        <input type="submit" value="Delete" class="btn btn-info form-control">
    </form>
</div>


<th:block th:include="footer.html"></th:block>