<th:block th:include="header.html"></th:block>

<div class="box sectionheader">
    <h1>Edit Diagnose</h1>
</div>



<div class="form-group">
    <form method="post" action="/diagnoses/edit">
        <input type="hidden" name="patientid" th:value="${patient.getID()}">
        <input type="hidden" name="diagnoseid" th:value="${diagnose.getID()}">
        <br>
        <p>Illness:
            <select size="10" name="illnessid" class="form-control">
                <th:block th:each="illness : ${illnesses}">
                    <th:block th:if="${diagnose.getIllness().equals(illness)}">
                        <option th:value="${illness.getID()}" th:text="${illness.getName()}" SELECTED></option>
                    </th:block>
                    <th:block th:unless="${diagnose.getIllness().equals(illness)}">
                        <option th:value="${illness.getID()}" th:text="${illness.getName()}"></option>
                    </th:block>
                </th:block>
            </select>
        </p>
        <span class="textfield">Note:</span>
            <input type="text" name="note" th:value="${diagnose.getNote()}" class="form-control">
        <p>Date: <input type="text" name="date" th:value="${#dates.format(diagnose.getDate(), 'dd/MM yyyy')}" class="form-control"></p>

        <input type="submit" value="Edit Diagnose" class="btn btn-info form-control">

    </form>
</div>
<br>

<th:block th:include="footer.html"></th:block>