<th:block th:include="header.html"></th:block>



<h1 th:text="'Diagnoses for ' + ${patient.getFirstname()} + ' ' + ${patient.getLastname()}"></h1>
<th:block th:if="${userType.name() == 'DOCTOR'}">
<a th:href="@{/diagnoses/create/} + ${patient.getID()}" class="btn btn-primary right">Create Diagnose</a><br/>
</th:block>


<table class="pdata">
    <thead>
    <tr>
        <th class="pdata">Date</th>
        <th class="pdata pdata-lp">Illness</th>
        <th class="pdata pdata-lp"></th>
        <th class="pdata pdata-lp"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="diagnose : ${diagnoses}">
        <td class="pdata"><a th:href="@{/diagnoses/info/} + ${diagnose.getID()}" th:text="${diagnose.getDate()}"></a></td>
        <td class="pdata pdata-lp"><a th:href="@{/diagnoses/info/} + ${diagnose.getID()}" th:text="${diagnose.getIllness().getName()}"></a></td>
        <th:block th:if="${userType.name() == 'DOCTOR'}">
        <td class="pdata pdata-lp"><a th:href="@{/diagnoses/edit/} + ${diagnose.getID()}" class="glyphicon glyphicon-pencil"></a></td>
        <td class="pdata pdata-lp"><a th:href="@{/diagnoses/delete/} + ${diagnose.getID()}" class="glyphicon glyphicon-remove"></a></td>
        </th:block>
    </tr>
    </tbody>
</table>

<th:block th:include="footer.html"></th:block>